.character-card {
    
    width: 60vw;
    background-color: lightgray;
    margin: 10px;
}

.character-card img {
    height: 275px;
}

.card-details {
    display: flex;
    justify-content: space-around;
}